html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #fff url(/resources/images/bg.jpg) repeat top left;
}

.bottom-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	min-height: 30px;
	width: 100%;
	color: #fff;
	line-height: 30px;
	padding: 5px 20px;
	z-index: 5;
}

.navbar {
	border-radius: 0px !important;
}

.form-conatainer {
	background: #f7f7f7;
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid rgba(147, 184, 189, 0.8);
	box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
	padding: 5px 15px;
}

/** Start:- screen overlay */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
	color: #6495ed;
	display: flex;
  	align-items: center;
  	justify-content: center;
}
/** End:- screen overlay */

/* Start:- override bootstrap css */
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text, .navbar-inverse .navbar-brand {
    color: #fff !important;
}
/* End:- override bootstrap css */