<div class="form-conatainer">
	<h2 class="text-center">{{ 'label_signup' | translate }}</h2>
	<hr />
	<form [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmit()">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-user"></span>
				</span>
				<input type="text" class="form-control input-lg" placeholder="{{ 'label_username' | translate }}" formControlName="username" />
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-envelope"></span>
				</span>
				<input type="email" class="form-control input-lg" placeholder="{{ 'label_email' | translate }}" formControlName="email" />
			</div>
		</div>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-lock"></span>
				</span>
				<input type="password" class="form-control input-lg" placeholder="{{ 'label_password' | translate }}" formControlName="password" />
			</div>
		</div>

		<div class="form-group text-center">
			<button type="submit" class="btn btn-success btn-lg">{{ 'label_signup' | translate }}</button>
		</div>
	</form>
	
	<div class="form-group text-right">
		{{ 'already_registered' | translate }}<a href="#" [routerLink]="['/signin']" class="btn btn-link">{{ 'label_signin' | translate }}</a>
	</div>
</div>