<div class="form-conatainer">
	<h2 class="text-center">Sign In</h2>
	<hr />
	<form [formGroup]="signInForm" novalidate (ngSubmit)="onSubmit()">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-user"></span>
				</span>
				<input type="text" class="form-control" placeholder="User Name"	formControlName="username" />
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="fa fa-lock"></span>
				</span>
				<input type="password" class="form-control" placeholder="Password" formControlName="password" />
			</div>
		</div>

		<div class="form-group text-center">
			<button type="submit" class="btn btn-success">Sign In</button>
			<a href="#" class="btn btn-link">forget Password</a>
		</div>
	</form>
	
	<div class="form-group text-right">
		New User ?<a href="#" [routerLink]="['/signup']" class="btn btn-link">Sign Up</a>
	</div>
</div>
