<!-- Navigation Bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">{{ 'app_name' | translate }}</a>
        </div>
        
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" [routerLink]="['/home']">{{ 'label_home' | translate }}</a></li>
                <li><a href="#" [routerLink]="['/tictactoe']">Tic Tac Toe</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	<li class="dropdown">
	                <a href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-expanded="false">{{ selectedLanguage }} <span class="caret"></span></a>
	                <ul class="dropdown-menu" role="menu">
	                    <li *ngFor="let language of languages">
	                    	<a href="#" (click)="selectLanguage(language)">{{ language.value }}</a>
	                    </li>
	                </ul>
	            </li>
                <li *ngIf="isLoggedIn"><a href="#" (click)="logout()"><span class="fa fa-sign-out"></span> {{ 'label_signout' | translate }}</a></li>
                <li *ngIf="!isLoggedIn"><a href="#" [routerLink]="['/signin']"><span class="fa fa-sign-in"></span> {{ 'label_signin' | translate }}</a></li>
            </ul>
        </div>
    </div>
</nav>